{% extends "base.html" %}
{% block content %}
{% load static %}

{% include 'includes/header_other.html'%}

<!-- Start of Breadcrumb section
	============================================= -->
	<section id="or-breadcrumbs" class="or-breadcrumbs-section position-relative" data-background="assets/img/bg/bg-page-title.jpg">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="or-breadcrumbs-content text-center">
				<div class="page-title headline"><h1>Контакты</h1></div>
				<div class="or-breadcrumbs-items ul-li">
					<ul>
						<li><a href="{% url 'home' %}">Главная</a></li>
						<li>Контакты</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of Breadcrumb section
	============================================= -->

<!-- Start of contact info section
	============================================= -->
	<section id="or-contact-info" class="or-contact-info-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<div class="or-contact-innerbox headline or-contact-innerbox-layout1">
						<div class="item--inner bg-image">
							<div class="item--icon icon-psb">
								<i aria-hidden="true" class="flaticon-map"></i>
							</div>
							<h4 class="item--title"> Адрес:</h4>
							<div class="item--description">{{site_settings.addres}}, <br>Kyrgyzstan</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="or-contact-innerbox headline or-contact-innerbox-layout1">
						<div class="item--inner bg-image">
							<div class="item--icon icon-psb">
								<i aria-hidden="true" class="flaticon-phone-call"></i>
							</div>
							<h4 class="item--title"> Телефон:</h4>
							<div class="item--description">{{site_settings.phone}}<br>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="or-contact-innerbox headline or-contact-innerbox-layout1">
						<div class="item--inner bg-image">
							<div class="item--icon icon-psb">
								<i aria-hidden="true" class="flaticon-email"></i>
							</div>
							<h4 class="item--title"> Почта:</h4>
							<div class="item--description">{{site_settings.mail}}<br></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of contact info section
	============================================= -->

<!-- Start of contact Form section
	============================================= -->
	<section id="or-contact-form" class="or-contact-form-section">
		<div class="container">
			<div class="or-contact-form-wrapper">
				<div class="or-section-title headline pera-content text-center middle-align">
					<span class="sub-title">Связаться с нами</span>
					<h2>Не стесняйтесь обращаться
					к нам в любое время.</h2>
				</div>
				<div class="or-contact-form-content">
					<form action="{% url 'contact' %}" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6">
								<div class="or-contact-input">
									<label>Полное имя*</label>
									<input type="text" name="name" placeholder="Jhon Doe">
								</div>
							</div>
							<div class="col-md-6">
								<div class="or-contact-input">
									<label>Почта*</label>
									<input type="email" name="email" placeholder="example@email.com">
								</div>
							</div>
							<div class="col-md-6">
								<div class="or-contact-input">
									<label>Телефон*</label>
									<input type="text" name="phone" placeholder="+8595136697058">
								</div>
							</div>
							<div class="col-md-6">
								<div class="or-contact-input">
									<label>Предмет*</label>
									<input type="text" name="subject" placeholder="Ex: Agriculture, Organico">
								</div>
							</div>
							<div class="col-md-12">
								<div class="or-contact-input">
									<label>Введите свое сообщение*</label>
									<textarea name="message" placeholder="Message..."></textarea>
								</div>
							</div>
						</div>
						<div class="or-contact-btn text-center">
							<button type="submit">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
<!-- End of contact Form section
	============================================= -->				

{% include 'includes/footer.html' %}

{% endblock content %}
