{% extends "base.html" %}
{% block content %}
{% load static %}

{% include 'includes/header_other.html'%}

<!-- Start of Search section
	============================================= -->
<section id="or-breadcrumbs" class="or-breadcrumbs-section position-relative"
	data-background="assets/img/bg/bg-page-title.jpg">
	<div class="background_overlay"></div>
	<div class="container">
		<div class="or-breadcrumbs-content text-center">
			<div class="page-title headline">
				<h1>Results</h1>
			</div>
			<div class="row">
				{% if results %}
				{% for item in results %}
				<div class="col-lg-3 col-md-6">
					<div class="or-product-innerbox-item type-1 text-center position-relative"
						style="background-color: dimgray;">
						<div class="e-commerce-btn">
							<a href="shop.html#"><i class="fal fa-shopping-cart"></i></a>
							<a href="shop.html#"><i class="fal fa-heart"></i></a>
							<a href="{% url 'shop_single' slug=item.slug %}"><i class="fal fa-eye"></i></a>
						</div>
						<div class="or-product-inner-img">
							<img src="{{item.image.url}}" style="height: 180px; width: 230px;" alt="">
						</div>
						<div class="or-product-inner-text headline">
							<h3><a href="shop-single.html" tabindex="0">{{item.name}}</a></h3>
							<span class="price">{{item.price}} </span>
							<div class="or-product-rate ul-li">
								<ul>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
						</div>
						<div class="or-product-btn text-center">
							<a class="d-flex justify-content-center align-items-center" href="shop.html#"
								tabindex="0">Add To Cart</a>
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<div class="page-title headline">
					<h3 style="color: white;">Ничего по этому запросу</h3>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
<!-- End of Search section
	============================================= -->



{% include 'includes/footer.html' %}

{% endblock content %}