{% load static %}

<section id="or-category-slider" class="or-category-slider-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="or-category-menu ul-li-block">
					<ul>
						{% for category in categories %}
						<li><a href="{% url 'shop' %}"><i class="flaticon-fish"></i>{{category.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="or-category-main-slider">
					{% for slide in sliders %}
					<div class="or-category-slider-item" data-background="{{slide.image.url}}">
						<div class="or-category-slider-text headline-2 pera-content">
							<h2>{{slide.title}}</h2>
							<p>{{slide.description}}</p>
							<a href="{% url 'shop' %}"><i class="fas fa-shopping-cart"></i> Купить</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>