{% load static %}
<section id="or-blog-2" class="or-blog-section-2">
	<div class="container">
		<div class="or-section-title-2 headline text-center">
			<h2>Our latest news</h2>
		</div>
		{% if news %}
		<div class="or-blog-content-2">
			<div class="or-blog-slide-wrapper">
				<div class="or-blog-slide">
					{% for item in news %}
					<div class="organio-inner-item">
						<div class="or-blog-innerbox">
							<div class="or-blog-img position-relative">
								<img src="{{ item.image.url }}" alt="">
							</div>
							<div class="or-blog-text headline position-relative">
								<div class="blog-meta">
									<a href="{% url 'home' %}"><i class="fas fa-calendar-alt"></i>{{ item.data|date:"d M Y" }}</a>
									<a href="{% url 'home' %}"><i class="fas fa-user"></i> Admin</a>
								</div>
								<h3><a href="{% url 'blog_single' slug=item.slug %}">{{ item.title|truncatewords:9 }}</a></h3>
								<div class="blog-more-comment d-flex justify-content-between">
									<a class="read-more" href="{% url 'blog_single' slug=item.slug %}">Read more <i
											class="far fa-chevron-right"></i></a>
									<a class="commnet" href="{% url 'blog_single' slug=item.slug %}"><i
											class="fas fa-comment"></i>{{ item.comments.count }}</a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</section>