{% extends "base.html" %}
{% block content %}
{% load static %}

{% include 'includes/header_other.html' %}

<section id="or-login" class="or-login-section">
    <div class="or-login-content sign-login-area d-flex align-items-center justify-content-center">
        <div class="or-checkout-form headline pera-content">

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% endif %}

            <form method="POST"> {# было action="register.html#" #}
                {% csrf_token %} {# обязательно! #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="or-bill-form">
                            <label>Имя пользователя *</label>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="or-bill-form">
                            <label>Email *</label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="or-bill-form">
                            <label>Пароль *</label>
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="or-bill-form">
                            <label>Повтори пароль *</label>
                            {{ form.password2 }}
                        </div>
                    </div>
                </div>
                <div class="login-button text-center">
                    <button type="submit">Register</button>
                </div>
                
            </form>
        </div>
    </div>
</section>

{% endblock content %}